:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --logo-black-color: #000000;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --black-background-color: #2F303A;
    --secondary-bg-color: #F5F4FA;
    --address-link: rgba(255, 255, 255, 0.6);
    --header-border:  #ECECEC;
    --border-item: #EEEEEE;
    --overlay-bg-color: #C4C4C4;
    --social-list-color: #AFB1B8;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;

    }

body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);

    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0 );
    overflow: hidden;
}


/* ul */
.list,
.site-nav,
.feature-list,
.list-projects,
.list-team,
.social-list,
.list.clients,
.filter,
.portfolio-list {
    list-style: none;
    padding: 0;
    margin: 0;

}

/* a */
.logo,
.link,
.link.current,
.contact-link,
.list-projects img,
.image-team,
.social-list a,
.portfolio-image {
    text-decoration: none;
}

.list-projects img,
.image-team,
.portfolio-image {
    display: block;
}

.page-header {
    border-bottom: 1px solid var(--header-border);
}

.page-header,
.section,
.hero,
.section.team,
.section-projects,
.footer {
margin: 0;
}

.section,
.section-projects,
.section.team,
.section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Logo */
.logo {
    display: block;
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.2;

transition: font-size var(--transition-duration) var(--transition-timing-function);

color: var(--logo-black-color);
}

.logo > span {
    color: var(--accent-color);
}

.footer .logo {
    color: var(--primary-white-color);
}

    .logo:hover,
    .logo:focus{
    font-size: 36px;
}

/* Навигация */
.site-nav a,
.contact-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link {
    position: relative;
    color: var(--title-text-color);

    transition: color var(--transition-duration) var(--transition-timing-function);
}

.site-nav .link.current,
.site-nav .link:focus,
.site-nav .link:hover,
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.contact-link {
    display: flex;
    color: var(--primary-text-color);
    align-items: center;

transition: color var(--transition-duration) var(--transition-timing-function);
}

.contact .contact-link + .contact-link {
    margin-left: 50px;
}

.site-nav .link.current::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 4px;
border-radius: 2px;

background-color: var(--accent-color);
}

.icon {
    margin: 0;
    padding: 0;
    fill: currentColor;
}

.contact-link .icon {
    margin-right: 10px;
}

.main-nav,
.site-nav,
.contact,
.page-header .container {
    display: flex;
    align-items:center;
}

.site-nav {
    margin-left: 93px;
}

.site-nav li:not(:last-child) {
    margin-right: 50px;
}

.contact {
    margin-left: auto;
}



/* Герой */
.hero {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    max-width: 1600px;
/* max-height: 600px; */

    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero1.jpg"), var(--overlay-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;

margin-top: 0;
margin-bottom: 30px;

color: var(--primary-white-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    visibility: visible;

    overflow: auto;
    z-index: 2;

    transition: opacity var(--transition-duration) var(--transition-timing-function);
    background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
visibility: hidden;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%) scale(1);
        
    padding: 40px;
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 1.17;
    
    width: 100%;
    max-width: 528px;
    min-height: 580px;

    transition: transform var(--transition-duration) var(--transition-timing-function);
    background: var(--primary-white-color);
}

.backdrop.is-hidden .modal {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0.1);

}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    padding: 0;
    
    /* outline: none; */

    border: 0;
    outline: none;
    border-radius: 50%;
    overflow: hidden;

}

.close .icon-close {
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: var(--logo-black-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.close:hover .icon-close {
    fill: var(--accent-color);
}

.form-modal {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    padding: 0;
}

.form-subs {
    display: inline-flex;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
    margin-bottom: 12px;

    
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
   
}

.input-modal {
            width: 100%;
    padding: 11px 12px;
    padding-left: 42px;
    margin-bottom: 10px;

    border: 1px solid rgba(33,33,33,0.2);
    border-radius: 4px;

    transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.input-icon {
    position: relative;
    border: none;
}

.icon-modal {
    position: absolute;
    /* top: 50%; */
    left: 12px;

    transform: translateY(50%);
    display: inline-block;
    width: 18px;
    height: 18px;

    fill: var(--title-text-color);

   transition: fill var(--transition-duration) var(--transition-timing-function);
}

#comment {
    resize: none;
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 20px;
}

.modal .label {
    display: block;
    margin-right: auto;
    margin-bottom: 4px;
    padding: 0;
    
}

.input-modal:focus,
.input-modal:hover,
.input-modal:active,
.input-modal:not(:placeholder-shown) {
    border-color: var(--accent-color);
    outline: none;
    }

.input-modal:focus + .icon-modal,
.input-modal:hover + .icon-modal,
.input-modal:active + .icon-modal,
.input-modal:not(:placeholder-shown) + .icon-modal {
fill: var(--accent-color);
}

.label-policy {
    display: flex;
    align-items: center;
    margin-left: 7px;
    padding: 0;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.7;
    
}
.form-policy {
     margin-bottom: 30px;
}

.form-field .placeholder {
    color: rgba (117, 117, 117, 0.5);
}

.checkbox {
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; */

   position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0 );
    overflow: hidden;
}

/* .checkbox-icon {
    display: inline-block;
    width:16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 4px;
    margin-right: 8px;
    
} */

.label-policy::before {
    content:"";
    display: block;
    width:16px;
    height: 15px;
    border: 1px solid var(--title-text-color);
    border-radius: 4px;
    margin-right: 8px;

}

.checkbox:checked + .label-policy::before {
    border-color: var(--accent-color);
    background: var(--accent-color);
    background-image: url("../images/icons/check.svg");
    background-size: contain;
    background-origin: border-box; 
}

.button-modal {
    min-width: 200px;
    border: transparent;
    border-radius: 4px;
    padding: 10px 56px;
    margin: 0;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06;
    text-align: center;

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    transition: transform var(--transition-duration) var(--transition-timing-function);
}

.button-modal:hover,
.button-modal:focus,
.button.footer:hover,
.button.footer:focus {
transform: scale(1.1);
outline: none;
}

.policy-link {
    color: var(--accent-color);
}


/* Section */
.feature-list,
.list-projects {
    display: flex;
   }

.title {
    font-weight: 700;
            
    color: var(--title-text-color);
}

.feature-list .title {
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature-list p {
    margin: 0;
}

.section.features .container {
    padding-bottom: 0;
    padding-top: 94px;
}

.item {
     width: calc((100% - 3*30px)/4);
}

.item:nth-child(4n) {
    margin-right: 0;
}

.item:not(:last-child) {
    margin-right: 30px;
}

.thumb {
    display: flex;
    margin-bottom: 30px;
    margin-top: 0;
    height: 120px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    
    background-color: var(--secondary-bg-color);
}

.thumb .icon {
    width: 70px;
    height: 70px;
}
/* 
.feature-list .item::before {
    display: flex;
    content: "";    */
/* .icon-antenna::before {
 background-image: url("../images/icons-feature/antenna.svg");
}
.icon-clock::before {
 background-image: url("../images/icons-feature/clock.svg");
}
.icon-diagram::before {
 background-image: url("../images/icons-feature/diagram.svg");
}
.icon-astranaut::before {
 background-image: url("../images/icons-feature/astronaut.svg");
} */

.title {
    margin-top: 0;
    margin-bottom: 0;

    vertical-align: middle;
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.portfolio-list .content {
    padding: 20px 24px;
}

/* Наши проекты */
.section-projects .title,
.section.team h2,
.section-clients h2 {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
}

.section-projects .title {
    margin-top: 0;
    margin-bottom: 50px;
}

.section-projects .item {
    position: relative;

    width: calc((100% - 2*30px)/3);
}

.section-projects .item:nth-child(3n) {
    margin-right: 0;
}

.image-projects {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
         
    background: rgba(47, 48, 58, 0.8);    
}

.image-projects p {
   margin: 0;

    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--primary-white-color);
}

/* Наша команда */
.title.team {
    margin-bottom: 10px;
    margin-top: 0;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
}

.team-job {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.2;
    text-align: center;

    color: var(--primary-text-color);
}

.section.team {
    background-color: var(--secondary-bg-color);
}

.section.team .content {
padding-right: 32px;
padding-left: 32px;
text-align: center;
}

.section.team h2 {
    margin-bottom: 50px;
}

.section.team .item {
    background-color: var(--primary-white-color);

    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.list-team,
.social-list {
    display: flex;
}

.social-list {
justify-content: space-between;
}

.social-list .li:not(:last-child) {
margin-right: 10px;

}

.social-list a {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    transition: background-color var(--transition-duration) var(--transition-timing-function);

}

.social-list .icon {
    width: 20px;
    height: 20px;
    fill: var(--social-list-color);

    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.social-list a:hover,
.social-list a:focus {
    background-color: var(--accent-color);
}

.social-list a:hover .icon,
.social-list a:focus .icon {
    fill: var(--primary-white-color);
}

/* Our Clients */
.section-clients .title {
    margin-bottom: 50px;
    margin-top: 0;
}

.list.clients {
    display: flex;
    justify-content: space-between;
}

.client-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--social-list-color);
    border-radius: 4px;

    transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.client-logo .icon {
    fill: var(--social-list-color);

    transition: fill var(--transition-duration) var(--transition-timing-function);

    }

a > .client-logo:hover,
a > .client-logo:focus {
    border-color: var(--accent-color);

   }

.client-logo:hover .icon,
.client-logo:focus .icon { 
    fill: var(--accent-color);
}

/* Portfolio Section */
.container.filter-list {
    margin-bottom: 34px;

}

.filter,
.portfolio-list {
    display: flex;
    flex-wrap: wrap;

}

.filter {
    justify-content: center;
    align-items: center;
}

.filter li:not(:last-child) {
    margin-right: 8px;
} 

.portfolio-list .item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 2*30px)/3);
    
    border: 1px solid var(--border-item);

transition: var(--transition-duration) var(--transition-timing-function);
}

.portfolio-list .item:nth-child(3n) {
margin-right: 0;
}

.portfolio-list .item:nth-last-child(-n+3) {
margin-bottom: 0;
}

.portfolio-list .title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.portfolio-list p {
    font-size: 16px;
    line-height: 1.88;

    margin-top: 0;
    margin-bottom: 0;
    
    color: var(--primary-text-color);

}

.portfolio-image:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 /* 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); */
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;

    }

.portfolio-thumb .product-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    transform: translateY(100%);

    transition: transform var(--transition-duration) var(--transition-timing-function);

background: rgba(33, 150, 243, 0.9);

}

.portfolio-thumb .overlay {
    margin: 0;
    position: absolute;
   padding-top: 63px;
   padding-right: 23px; 
   padding-bottom: 63px;
   padding-left:23px;
    
font-family: inherit;
font-size: 18px;
line-height: 1.55;

color: var(--primary-white-color);
}

.portfolio-list .item:hover .product-overlay,
.portfolio-list .item:focus .product-overlay {
     transform: translateY(0%);
}

/* Button */
.button {
    display: flex;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: inherit;

padding: 6px 22px;
min-width: 73px;

border: transparent;
border-radius: 4px;

color: var(--title-text-color);
background-color: var(--secondary-bg-color);

transition: var(--transition-duration) var(--transition-timing-function);
}

.button.primary {
    display: inline-block;
    min-width: 200px;
    min-height: 50px;

font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
padding: 10px 32px;

color: var(--primary-white-color);
background-color:var(--accent-color);
}

.button.primary:hover,
.button.primary:focus {
    font-size: 24px;
}

.button.current,
.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.filter .button:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
     font-style: normal;
     background-color: var(--black-background-color);
}

.address-text {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: inherit;
    color: var(--primary-white-color);
    
    }

.footer .contact-link {
    padding: 0;

    color: var(--address-link);
}

.address-text {
    margin-top: 0;
    margin-bottom: 9px;
}

.address-text:last-child {
    margin-bottom: 0;
    }

.footer .contact-link:hover,
.footer .contact-link:focus {
    color: var(--accent-color);
}

.footer .logo {
    margin-bottom: 20px;
    margin-top: 0;
}

.about-us {
    margin-right: 70px; 
    width: 231px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.sign-up {
margin-bottom: 20px;
line-height: 16px;
text-transform: uppercase;

color: var(--primary-white-color);
} 

.footer .social-list > li {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.general-links li:not(:last-child) {
margin-right: 10px;
}

.general-links .icon {
    fill: var(--primary-white-color);
}

.general-links {
    margin-right: 92px;
}

.newsletter {
    display: block;
    
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 20px;

    text-transform: uppercase;
    color: var(--primary-white-color);
}

.form-footer {
    border: none;
    width: 570px;
    padding: 0;
    margin: 0;
    }

.form-footer.subscription {
    display: flex;
    justify-content: space-between;
}

#email-footer {
    margin-right: 12px;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 16px;

    transition: border-color var(--transition-duration) var(--transition-timing-function);
}

#email-footer:hover,
#email-footer:focus,
#email-footer:not(:placeholder-shown) {
    border-color: var(--primary-white-color);

    color: var(--primary-white-color);
}

.button.footer {
    position: relative;
padding: 10px 28px;
min-width: 200px;

font-weight: 700;
line-height: 1.88;
letter-spacing: 0.06em;

color: var(--primary-white-color);
background-color: var(--accent-color);

transition: transform var(--transition-duration) var(--transition-timing-function);
}

.form-footer .icon {
    display: inline-block;
    position: absolute;

    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    
    fill: var(--primary-white-color);
}

.form-footer {
    background: transparent;
}